/* css reset */
* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(77, 94, 94);
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: sans-serif;
  font: bold;
  font-size: 3rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  word-spacing: 3rem;
}

blockquote {
  margin: 0 0 0 30px;
  font-style: italic;
  line-height: 2rem;
}

span {
  text-decoration: line-through;
}

em {
  text-transform: capitalize;
}

strong {
  text-transform: uppercase;
}

a {
  color: aqua;
  text-decoration: none;
}
